<form [formGroup]="form">
  <h1 mat-dialog-title>Post</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="legacy" class="field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" name="description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">Field is required</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">close</button>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      save
    </button>
  </div>
</form>
