@import "../../../node_modules/@angular/material/theming";

.dashboard {
  padding: 2rem 1.5rem;
  position: relative;

  &_add_btn {
    position: absolute;
    top: -1.2rem;
    right: 1.5rem;
  }

  .post-form-paper {
    width: 350px;
  }

  .post-form {
    display: flex;
    flex-direction: column;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 15px;
    column-gap: 10px;

    .post {
      cursor: pointer;

      &_title, &_description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .post:hover {
      @include mat-elevation(4)
    }
  }
}
