@import "~@angular/material/theming";
@include mat-core();

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;

  &_action {
    display: flex;
    align-items: center;
  }

  &_btn {
    margin-top: 4rem;
  }
}

.pointer {
  cursor: pointer;
}
